@font-face {
  font-family: 'helvetica';
  src: ('./assets/fonts/HELR45W.ttf') format('woff'),
    ('./assets/fonts/HELR45W.ttf') format('opentype'),
    ('./assets/fonts/HELR45W.ttf') format('truetype');
}

:root {
  --blue: #0b6af7;
  --white: #ffffff;
  --black: #000000;
  --textcolor: #3a3a3a;
  --purple: #8f6fdb;
  --bg: #f4f4f4;
}
.blue-gradient {
  background: linear-gradient(180deg, #2e6ecc 0%, #0b6af7 100%);
}
.helvetica {
  font-family: 'helvetica';
}
.gray-bg {
  background-color: var(--bg);
}
.page-content {
  padding: 10px 60px;
}
.bg-white {
  background-color: var(--white);
}
.nav-tabs {
  border: none;
  margin-bottom: 30px;
  .nav-link {
    font-size: 15px;
    color: #5e5e5e;
    background-color: #ffffff;
    border-radius: 100px;
    padding: 4px 11px;
    margin-right: 9px;
    font-weight: 400;
    border: none;
    &:hover {
      color: var(--white);
      background-color: var(--blue);
    }
  }
  .nav-link.active {
    color: var(--white);
    background-color: var(--blue);
  }
}

.my-pagination {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 45%;
  margin: 0 auto;
  border-top: 1px solid rgba(234, 236, 240, 1);
  padding-top: 20px;

  ul {
    margin: 0;
    display: flex;
    list-style: none;
    li {
      a {
        width: 40px;
        height: 40px;
        border-radius: 8px;
        text-decoration: none;
        color: #344054;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 3px;
        &:hover {
          background: #ffffff;
          color: #344054;
        }
      }
      a.active {
        background: linear-gradient(180deg, #2e6ecc 0%, #0b6af7 100%);
        color: var(--white);
      }
    }
  }
  .btn {
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #344054;
    svg {
      margin: 0 5px;
    }
    &:hover {
      background: var(--blue);
      color: var(--white);
      border-color: var(--blue);
    }
  }
}
.mt-50 {
  margin-top: 50px;
}
.activePage {
  a {
    background: linear-gradient(180deg, #2e6ecc 0%, #0b6af7 100%);
    color: var(--white) !important;
  }
}

.paginationContainer {
  margin: 0;
  display: flex;
  padding: 0;
  list-style: none;
  justify-content: center;
  li {
    a {
      padding: 5px 10px;
      border-radius: 8px;
      text-align: center;
      margin: 0 2px;
      font-size: 14px;
    }
  }
}
.previousButton {
  a {
    color: black;
    text-decoration: none;
    border-radius: 8px;
    background: #ffffff;
    border: 1px solid #d0d5dd;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
    border-radius: 8px;
    color: #344054;
  }
  &:hover {
    a {
      color: #ffffff !important;
      background: linear-gradient(180deg, #2e6ecc 0%, #0b6af7 100%);
      color: var(--white);
      border-color: var(--blue);
    }
  }
}
.nextPageButton {
  &:hover {
    a {
      color: #ffffff !important;
      background: linear-gradient(180deg, #2e6ecc 0%, #0b6af7 100%);
      color: var(--white);
      border-color: var(--blue);
    }
  }
}
.button {
  font-size: 15px;
  color: #5e5e5e;
  background-color: #ffffff;
  border-radius: 100px;
  padding: 4px 11px;
  margin-right: 9px;
  font-weight: 400;
  border: none;
}
@media only screen and (max-width: 1440px) {
  .main-header .avtar-profile .dropdown-toggle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      position: relative;
      right: -8px;
    }
  }
  .nav-link {
    span {
      margin: 0 !important;
      padding: 0 10px !important;
    }
  }
}
@media only screen and (max-width: 1200px) {
  .navbar-toggler {
    display: flex;
  }
}
@media only screen and (max-width: 1024px) {
  .main-header {
    padding: 10px 20px !important;
  }
  .page-content {
    padding: 10px 30px;
  }
  .button {
    margin-bottom: 20px;
  }
  .user-work img {
    border-radius: 10px;
    width: auto;
    height: auto;
  }
  .offcanvas-body {
    .nav-link {
      display: flex;
      align-items: center;
      background-color: hsl(215.75deg 98.36% 52.16% / 6%);
      padding: 20px 14px;
      margin: 5px 0;
      border-radius: 6px;
      img {
        width: 24px;
      }
      span {
        background-color: transparent;
      }
      &:hover {
        border: 1px solid #e9e9e9;
      }
    }
    .header-search {
      width: 100%;
      position: relative;
      margin: 0 0 30px 0 !important;
      .form-control {
        padding-left: 55px !important;
        border-color: #e9e9e9 !important;
        background-color: #e9e9e9 !important;
        border-radius: 10px;
        height: 55px;
      }
      svg {
        position: absolute;
        left: 20px;
        font-size: 20px;
        top: 18px;
        color: #606470;
      }
    }
    .avtar-profile {
      button {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        margin-top: 20px;
        img {
          width: 50px;
          margin-right: 10px;
        }
        p {
          font-size: 18px !important;
        }
      }
    }
  }
}
@media only screen and (max-width: 768px) {
  .page-content {
    padding: 0 !important;
  }
  .user-name-badge p {
    font-size: 14px;
  }
  .paid-user {
    padding: 1rem !important;
  }
  .user-tag {
    .button {
      font-size: 13px;
      padding: 2px 9px;
    }
  }
  .getintouch {
    .button {
      margin-bottom: 0 !important;
      width: 100%;
    }
  }
  .user-hire {
    padding: 10px !important;
  }
}
@media only screen and (max-width: 767px) {
  .page-content {
    padding: 10px 10px;
  }
  .main-header {
    padding: 10px !important;
  }
  .user-details-profile {
    margin-bottom: 20px;
  }
  .button {
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 420px) {
}
